html, body {
  margin: 0;
  padding: 0;
  background-color: #333030;
}


canvas {
position: fixed;
left: 50px;
top: 120px;

}


#imageContainer{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
}

#imageContainer2{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
}


#imageContainer3{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
}

#imageContainer4{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
}

#imageContainer5{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
}

#imageContainer6{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
}

#imageContainer7{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
}

#imageContainer8{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
}

#imageContainer9{
position: absolute;
left: 50px;
top: 265px;
filter: grayscale(100%);
border: 0px;
}

img {
width: 700px;
height:400px;
border: none;

}


p {
  margin-bottom: : 0.8em

}


#info {
  position: fixed;
  left: 1375px;
  top: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 8pt;
  line-height: 1.5;

}


#live {
  position: fixed;
  left: 50px;
  top: 660px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 8pt;
  line-height: 1.5;

}

#year{
font-size: 20pt;
font-family: 'Work Sans', sans-serif;
font-weight: 900;
}

#city {
  position: fixed;
  left: 870px;
  top: 232px;
  font-size: 20pt;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}


#right {
  padding-left: 50px;
  padding-bottom: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 24pt;
}

#after {
  position: fixed;
  left: 180px;
  top: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 8pt;
  line-height: 1.5;


}

#all {
  position: absolute;
  left: 780px;
  top: 232px;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 8pt;
  width: 350px;
  line-height: 0.4;

}


#memory {
  line-height: 1.5;
  padding-top: 20px;

}

#danaimage{
float: left;
  width: 420px;
  height:320px;
  padding-bottom: 30px;
  padding-right:30px;
}



.text1{
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
}


.dropdown {
    position: relative;
    display: inline-block;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333030;
    min-width:1350px;
    min-height: 530px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    padding: 20px 50px;
    padding-right: 120px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding-right: 20px;
}
